@import "../../common/colors.scss";

.reactions {
  display: flex;
  width: 256px;
  height: 88px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;

    img {
      height: 30px;
      fill: white;
    }
  }
  .smile {
    background-color: $green;
    border-radius:  16px 0px 0px 16px;
  }
  .like {
    background-color: $primary-pink;
  }
  .sad {
    background-color: $yellow;
    border-radius:   0px 16px 16px 0px;
  }
}
