@import "../../common/colors.scss";

.breeds-filter {
  display: flex;
  width: 100%;
  flex: 1;
  margin-left: 10px;

  .select-container {
    flex: 1;
  }
  .select {
    option {
      width: 300px;
      max-height: 300px;
      border: none;
    }
  }
  .filter-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;

    .select-container {
      width: 100%;
      margin-left: 10px;
      min-width: 100px;
    }
    .sort {
      min-width: 40px;
      height: 40px;
      background: $primary-color;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      &:hover {
        border: 2px solid $secondary-pink;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10px;
        img {
          display: none;
        }
      }
    }
    .sort-up {
      &:hover {
        background-image: url(../../images/svgs/sort-up-pink.svg);
      }
    }
    .sort-down {
      &:hover {
        background-image: url(../../images/svgs/sort-down-pink.svg);
      }
    }
    .sort-active {
    }
  }
}
