@import "../../common/colors.scss";

.content-container {
  .img-reactions {
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    .reactions {
      position: absolute;
      left: 50%;
      bottom: 20%;
      transform: translate(-50%, 100%);
    }
  }
}
