@import "../../common/colors.scss";

.btn-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  button {
    margin-left: 10px;
    width: 60px;
    height: 60px;
    background-color: white;
    &:hover{
      background-color: $secondary-pink;
      // background-image: url(../../images/svgs/smile-white.svg);
      background-repeat: no-repeat;
      background-position: center;
      padding: 10px;
      img{
        // display: none;
      }
    }
  }

}
