@import "../../common/colors.scss";

.action-log {
  height: 60px;
  background: $primary-color;
  margin: 10px 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .time {
    background: white;
    border-radius: 5px;
    height: 30px;
    width: 61px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    color: $secondary-text-color;
    width: 100%;
    span{
        font-weight: 500;
        color: black
    }
  }
  img{
    height: 20px;
    width: 20px;
    margin: 15px;
  }
}
