@import "../../common/colors.scss";

.search-field {
  width: 470px;
  height: 60px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex: 3;
  // position: relative;

  &:hover {
    // box-shadow: 0 0 0 2px $secondary-pink;
    border: 2px solid $secondary-pink;
  }
  &:active,
  &:focus {
    // box-shadow: 0 0 0 2px $secondary-pink;
    border: 2px solid $primary-pink;
  }

  input {
    appearance: none;
    width: 90%;
    border: none;
    font-weight: 400;
    font-size: 20px;
    color: $secondary-text-color;
    padding: 10px;

    &:focus,
    &:active {
      outline: none;
      color: black;
    }
  }

  button {
    width: 40px;
    height: 40px;
    background: $secondary-pink;

    &:hover {
      background-color: $primary-pink;
      background-image: url(../../images/svgs/search-white.svg);
      background-repeat: no-repeat;
      background-position: center;
      padding: 10px;
      img {
        display: none;
      }
    }
  }
  // .click {
  //   background: rgb(186, 213, 186);
  //   opacity: 1;
  //   position: absolute;
  //   height: 40px;
  //   width: 40px;
  //   right: calc(0% + 10px);
  //   top: 50%;
  //   transform: translate(0%, -50%);
  // }
}
